@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.space-mono-regular {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }

body {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    color: #f1f1f1;

    background-color: #101010;
    /*opacity: 0.4;*/
    background-image: radial-gradient(#1d1d1d 1.05px, #101010 1.05px);
    background-size: 25px 25px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

a {
    font-size: 14px;
}

/*
button {
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    padding: 8px 20px;
    background-color: #f0f0f0;
    color: #101010;
    border: 1px solid #101010;
    border-radius: 20px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    color: #f0f0f0;
    background-color: #101010;
}
*/

a:-webkit-any-link {
    /*color: #101010 !important;*/
    text-decoration: none !important;
}

a:-webkit-any-link:hover {
    
}